#review_list{
    text-align: left;
    font-size: 12px;
}
.space{
    height: 13px;
    background-color: white;
}
dt.review{
    font-weight: bold;
    margin: 5px;
}
#book_review h2{
    margin: 8px;
    padding: 2px;
}
#pop_img{
    position: absolute;
    background-image:url("icon_3d.png")
}
.tag_div {
	padding: 4px;
	font-size: medium;
	color: blue;
}